<% include perm/SmallHeader %>

<div class="container">
    <div class="card">
        <div class="card-header">
            Messages with 
            <a href="/profile/user/<%= to %>">
                <%= to %>
            </a>
        </div>
        <div id="messages" class="card-body" style="overflow: scroll;">
            <% messages.forEach(function(message) { %>
                <% var className = (message.author === from) ? "text-right" : "text-left" %>                
                <% var subClassName = (message.author === from) ? "message-sent" : "message-received" %>
                <div class="<%= className %>">
                    <div class="message-bubble <%= subClassName %>">
                        <%= message.text %>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="card-footer">
            <form action="" autocomplete="off">
                <div class="input-group">
                    <input type="text" id="message-text" name="message-text" class="form-control" placeholder="Type your message here" aria-label="Message">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit">Send</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<% include perm/Footer %>

<script src="/socket.io/socket.io.js"></script>
<script>
    $(function () {
        var socket = io(),
            to = "<%= to %>";

        $('#messages').scrollTop($('#messages')[0].scrollHeight);

        $('form').submit(function () {
            var message = {
                to: to,
                text: $('#message-text').val()
            };
            console.log(message);
            socket.emit('message-send', message);
            $('#message-text').val('');
            return false;
        });

        socket.on('auth-error', function (error) {
            $('#messages').text(error);
            $('#message-text').prop('disabled', true);
            $('button').prop('disabled', true);
        });

        socket.on('message-sent', function(message) {
            $('#messages').append('<div class="text-right"><div class="message-bubble message-sent">' + message + '</div></div>');
            $('#messages').scrollTop($('#messages')[0].scrollHeight); 
        });

        socket.on('message', function (from, text) {
            console.log(from, message);
            if (from === to) {
                $('#messages').append('<div class="text-left"><div class="message-bubble message-received">' + message + '</div></div>');
                $('#messages').scrollTop($('#messages')[0].scrollHeight);
            }
        });
    });
</script>