<% include perm/SmallHeader %>

<div class="container">
    <h1>Search</h1>
    <div class="border">
        <form method="get">
            <div class="home-search">
                <label>Age</label>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div id ="age-slider"></div>
                    <input id="minAge" type="hidden" name="minAge" value="">
                    <input id="maxAge" type="hidden" name="maxAge" value="">
                </div>
            </div>
            <div class="home-search">
                <label>Popularity (score)</label>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div id ="score-slider"></div>
                    <input id="minScore" type="hidden" name="minScore" value="">
                    <input id="maxScore" type="hidden" name="maxScore" value="">
                </div>
            </div>
            <div class="home-search">
                <label>Distance (km)</label>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div id ="distance-slider"></div>
                    <input id="distance" type="hidden" name="distance" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="home-search2">
                    <label>Interest</label>
                </div>
                    <div class="row" style="margin-bottom:20px;">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <input name="interest" type="text" class="form-control" placeholder="Enter tags separated by spaces">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <input class="btn btn-block btn-primary" type="submit" value="Search">
                        </div>
                    </div>
            </div>
        </form>
    </div>
        <h1>Suggestion</h1>
        <div class="container border" style="padding-top:20px;">
                <div class="row text-center">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <button type="submit" name="location" class="btn btn-primary">Location</button>
                    </div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <button type="submit" name="age" class="btn btn-primary">Age</button>
                    </div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <button type="submit" name="popularity" class="btn btn-primary">Popularity</button>
                    </div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <button type="submit" name="interest" class="btn btn-primary">Interest</button>
                    </div>
                </div>
            </div>
    <div class="container" style="padding-top:20px;">
        <% if (info === "No data") { %>
            <p>NO DATA</p> 
            <% }
            else { 
                for(var i=0; i < info.length; i++) { %>
                <div class="row border" id ="bordersug">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <img src="/uploads/<%= info[i]['profilepic'] %>" class="img-thumbnail home-imgprofile">
                    </div>
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 home-imgprofile">
                        Name : <%= info[i]['firstname'] %> <%= info[i]['lastname'] %><br>
                        Bio : <%= info[i]['bio'].slice(0, 30) %> ...<br>
                        Interests : 
                            <% var arrInter = info[i]['interest']; 
                            for(var j=0; j < arrInter.length; j++) { %>
                                #<%= arrInter[j] %>
                            <% } %>
                        <br>
                        <a href="/profile/user/<%= info[i]['login'] %>">View profile</a>
                    </div>
                </div>
            <% }
            } %>
    </div>
</div>

<script src="/script/nouislider.js"></script>
<script src="/script/wNumb.js"></script>
<script>
    var ageSlider = document.getElementById('age-slider'),
        scoreSlider = document.getElementById('score-slider'),
        distanceSlider = document.getElementById('distance-slider');

    noUiSlider.create(ageSlider, {
        start: [ 18, 100 ],
        range: {
            'min': [  18 ],
            'max': [ 100 ]
        },
        format: wNumb({ decimals: 0 }),
        tooltips: [true, true],
        margin: 1,
        connect: true
    });

    noUiSlider.create(scoreSlider, {
        start: [0, <%= maxScore %>],
        range: {
            'min': [0],
            'max': [<%= maxScore %>]
        },
        format: wNumb({ decimals: 0 }),
        tooltips: [true, true],
        margin: 1,
        connect: true
    });

    noUiSlider.create(distanceSlider, {
        start: [1000],
        range: {
            'min': [0],
            'max': [1000]
        },
        format: wNumb({ decimals: 0 }),
        tooltips: true,
        margin: 1,
        connect: true
    });

    ageSlider.noUiSlider.on('update', function(values) {
        $('#minAge').val(values[0]);
        $('#maxAge').val(values[1]);
    });

    scoreSlider.noUiSlider.on('update', function (values) {
        $('#minScore').val(values[0]);
        $('#maxScore').val(values[1]);
    });

    distanceSlider.noUiSlider.on('update', function (value) {
        $('#distance').val(value);
    });

</script>

<% include perm/Footer %>
