<% include perm/SmallHeader %>

<div class="container">
    <% if (errors) { %>
        <% for(var i=0; i < errors.length; i++) { %>
            <div class="alert alert-danger">&nbsp;<%= errors[i]['msg'] %></div>
        <% } %>
    <% } %>
</div>

<div class="container">
    <h1>Search</h1>
    <div class="border">
        <label for="">Age</label>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <form action="/home/sortAge">
                    <div class="row">
                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                            <div id ="slider-handles"></div>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <select name="ageMin" id="ageMin"></select>
                            <select name="ageMax" id="ageMax"></select>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <input class="btn btn-block btn-primary" type="submit" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <label for="">Popularity</label>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <form action="/home/sortPopularity">
                    <div class="row">
                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                            <div id ="slider-popu"></div>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <select name="popuMin" id="popuMin"></select>
                            <select name="popuMax" id="popuMax"></select>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <input class="btn btn-block btn-primary" type="submit" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <label>Localisation</label>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <form action="/home/sortLocalisation">
                    <div class="row">
                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                            <div id ="slider-loca"></div>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <select name="locaMin" id="locaMin"></select>
                            <select name="locaMax" id="locaMax"></select>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <input class="btn btn-block btn-primary" type="submit" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-group">
            <label>Interest</label>
            <form action="/home/searchInterest">
                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        <input name="localisation" type="text" class="form-control" placeholder="Enter tags" required>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <input class="btn btn-block btn-primary" type="submit" value="Search">
                    </div>
                </div>
            </form>
        </div>

    </div>
    <h1>Suggestion</h1>
    <div class="container border" style="padding-top:20px;">
        <form method="post" action="/home/location">
            <div class="row text-center">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <button type="submit" name="location" class="btn btn-primary">Location</button>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <button type="submit" name="age" class="btn btn-primary">Age</button>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <button type="submit" name="popularity" class="btn btn-primary">Popularity</button>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <button type="submit" name="interest" class="btn btn-primary">Interest</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container" style="padding-top:20px;">
        <% if (info === "No data") { %>
            <p>NO DATA</p> 
            <% }
            else { 
                for(var i=0; i < info.length; i++) { %>
                <div class="row border" id ="bordersug">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <img src="/<%= info[i]['profilepicpath'].replace('public/', '') %>" class="img-thumbnail">
                    </div>
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                        Name : <%= info[i]['firstname'] %> <%= info[i]['lastname'] %><br>
                        Age: <%= info[i]['month'] %>/<%= info[i]['day'] %>/<%= info[i]['year'] %><br>
                        Bio : <%= info[i]['bio'].slice(0, 30) %> ...<br>
                        Interest : 
                            <% var arrInter = info[i]['interest']; 
                            for(var j=0; j < arrInter.length; j++) { %>
                                #<%= arrInter[j] %>
                            <% } %>
                        <br>
                        <a href="/profile/user/<%= info[i]['login'] %>">View profile</a>
                    </div>
                </div>
            <% }
            } %>
    </div>
</div>

<script src="/script/nouislider.js"></script>
<script>
    var selectMin = document.getElementById('ageMin');

    for ( var i = 18; i <= 100; i++ ){
	    var option = document.createElement("option");
		option.text = i;
		option.value = i;

	    selectMin.appendChild(option);
    }

    var handlesSlider = document.getElementById('slider-handles');

    noUiSlider.create(handlesSlider, {
        start: [ 18, 100 ],
        range: {
            'min': [  18 ],
            'max': [ 100 ]
        }
    });

    var selectMax = document.getElementById('ageMax');

    for ( var i = 19; i <= 100; i++ ){
	    var option = document.createElement("option");
		option.text = i;
		option.value = i;

	    selectMax.appendChild(option);
    }

    handlesSlider.noUiSlider.on('update', function( values, handle ) {
    var value = values[handle];
        if ( handle ) {
            if (values[0] === values[1])
                selectMax.value = Math.round(value) + 1;
            else 
                selectMax.value = Math.round(value);
        }
        else {
            if (values[0] === values[1])
                selectMin.value = Math.round(value) - 1;
            else
                selectMin.value = Math.round(value)
        }

    });

    selectMin.addEventListener('change', function(){
        handlesSlider.noUiSlider.set([this.value, null]);
    });

    selectMax.addEventListener('change', function(){
        handlesSlider.noUiSlider.set([null, this.value]);
    });





    var selectPopuMin = document.getElementById('popuMin');

    for ( var i = 18; i <= 100; i++ ){
	    var option = document.createElement("option");
		option.text = i;
		option.value = i;

	    selectPopuMin.appendChild(option);
    }

    var handlesPopu = document.getElementById('slider-popu');

    noUiSlider.create(handlesPopu, {
        start: [ 18, 100 ],
        range: {
            'min': [  18 ],
            'max': [ 100 ]
        }
    });

    var selectPopuMax = document.getElementById('popuMax');

    for ( var i = 19; i <= 100; i++ ){
	    var option = document.createElement("option");
		option.text = i;
		option.value = i;

	    selectPopuMax.appendChild(option);
    }

    handlesPopu.noUiSlider.on('update', function( values, handle ) {
    var value = values[handle];
        if ( handle ) {
            if (values[0] === values[1])
                selectPopuMax.value = Math.round(value) + 1;
            else 
                selectPopuMax.value = Math.round(value);
        }
        else {
            if (values[0] === values[1])
                selectPopuMin.value = Math.round(value) - 1;
            else
                selectPopuMin.value = Math.round(value)
        }
    });

    popuMin.addEventListener('change', function(){
        handlesPopu.noUiSlider.set([this.value, null]);
    });

    popuMax.addEventListener('change', function(){
        handlesPopu.noUiSlider.set([null, this.value]);
    });







    var selectLocaMin = document.getElementById('locaMin');

    for ( var i = 18; i <= 100; i++ ){
	    var option = document.createElement("option");
		option.text = i;
		option.value = i;

	    selectLocaMin.appendChild(option);
    }

    var handlesLoca = document.getElementById('slider-loca');

    noUiSlider.create(handlesLoca, {
        start: [ 18, 100 ],
        range: {
            'min': [  18 ],
            'max': [ 100 ]
        }
    });

    var selectLocaMax = document.getElementById('locaMax');

    for ( var i = 19; i <= 100; i++ ){
	    var option = document.createElement("option");
		option.text = i;
		option.value = i;

	    selectLocaMax.appendChild(option);
    }

    handlesLoca.noUiSlider.on('update', function( values, handle ) {
    var value = values[handle];
        if ( handle ) {
            if (values[0] === values[1])
                selectLocaMax.value = Math.round(value) + 1;
            else 
                selectLocaMax.value = Math.round(value);
        }
        else {
            if (values[0] === values[1])
                selectLocaMin.value = Math.round(value) - 1;
            else
                selectLocaMin.value = Math.round(value)
        }
    });

    popuMin.addEventListener('change', function(){
        handlesLoca.noUiSlider.set([this.value, null]);
    });

    popuMax.addEventListener('change', function(){
        handlesLoca.noUiSlider.set([null, this.value]);
    });
</script>

<% include perm/Footer %>
