<% include perm/SmallHeader %>

<div class="container">
    <% if (errors) { %>
        <% for(var i=0; i < errors.length; i++) { %>
            <div class="alert alert-danger">&nbsp;<%= errors[i]['msg'] %></div>
        <% } %>
    <% } %>
</div>

<div class="container">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <img src="/uploads/<%- profilepic %>" class="img-thumbnail"/>
            <%- login %>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- firstname %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="change" id="firstname">Change firstname</span>
                </div>
            </div>
            <div class="row ">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- lastname %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="change" id="lastname">Change lastname</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- email %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="change" id="email">Change email</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- gender %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="changeGO" id="gender">Change gender</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- orientation %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="changeGO" id="orientation">Change orientation</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- bio %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="change" id="bio">Change your bio</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- interest %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="change" id="interest">Change your interest</span>
                </div>
            </div>
            <!-- img -->
            <!-- geo -->
        </div>
    </div>
</div>
<script>
    let allchange = Array.from(document.getElementsByClassName('change'));
    allchange.forEach(function(change) {
        change.addEventListener("click", function() {
            let parent = change.parentNode.parentNode;
            let id =  change.id;
            while (parent.hasChildNodes()) {
                parent.removeChild(parent.lastChild);
            }
            let input = document.createElement('input');
            input.setAttribute("type", "submit");
            input.setAttribute("value","change");
            let input2 = document.createElement('input');
            input2.setAttribute("type", "text");
            input2.setAttribute("name", id);
            
            let form = document.createElement('form');
            form.setAttribute("action", "myaccount/submit");
            form.setAttribute("method", "post");

            form.appendChild(input2);
            form.appendChild(input);
            let halfdiv = document.createElement("div");
            halfdiv.classList.add("col-6", "col-sm-6", "col-md-6", "col-lg-6", "col-xl-6");
            halfdiv.appendChild(form);
            parent.appendChild(halfdiv);
        });
    });

    let changeGO = Array.from(document.getElementsByClassName('changeGO'));
    changeGO.forEach(function(change) {
        change.addEventListener("click", function() {
            let parent = change.parentNode.parentNode;
            console.log(parent);
            let id =  change.id;
            console.log(id);
            while (parent.hasChildNodes()) {
                parent.removeChild(parent.lastChild);
            }

            let select = document.createElement('select');
            select.setAttribute("name", id);

            let man = document.createElement('option');
            man.setAttribute("value", "man");
            let textman = document.createTextNode("man");
            man.appendChild(textman);
            select.appendChild(man);

            let woman = document.createElement('option');
            woman.setAttribute("value", "woman");
            let textwoman = document.createTextNode("woman");
            woman.appendChild(textwoman);
            select.appendChild(woman);

            if (id === "orientation") {
                let both = document.createElement('option');
                both.setAttribute("value", "both");
                let textboth = document.createTextNode("both");
                both.appendChild(textboth);
                select.appendChild(both);
            }
            
            let input = document.createElement('input');
            input.setAttribute("type", "submit");
            input.setAttribute("value","change");

            let form = document.createElement('form');
            form.setAttribute("action", "myaccount/submit");
            form.setAttribute("method", "post");
            form.appendChild(select);
            form.appendChild(input);

            let halfdiv = document.createElement("div");
            halfdiv.classList.add("col-6", "col-sm-6", "col-md-6", "col-lg-6", "col-xl-6");
            halfdiv.appendChild(form);
            parent.appendChild(halfdiv);
        })
    })

</script>

<% include perm/Footer %>