<% include perm/SmallHeader %>

<div class="container">
    <% if (errors) { %>
        <% for(var i=0; i < errors.length; i++) { %>
            <div class="alert alert-danger">&nbsp;<%= errors[i]['msg'] %></div>
        <% } %>
    <% } %>
</div>
<div class="container">
    <% if (success) { %>
        <% for(var i=0; i < success.length; i++) { %>
            <div class="alert alert-success">&nbsp;<%= success[i]['msg'] %></div>
        <% } %>
    <% } %>
</div>

<div class="container">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <img src="/uploads/<%- profilepic %>" class="img-thumbnail"/>
            <form action="/myaccount/profilepic" enctype="multipart/form-data" method="post">
                <input type="file" name="profilepic">
                <input type="submit" value="change">
            </form>
            <%- login %>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- firstname %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="change" id="firstname">Change firstname</span>
                </div>
            </div>
            <div class="row ">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- lastname %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="change" id="lastname">Change lastname</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- email %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="change" id="email">Change email</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- gender %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="changeGO" id="gender">Change gender</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- orientation %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="changeGO" id="orientation">Change orientation</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- bio %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="change" id="bio">Change your bio</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <% let tab = interest;
                    for(var i=0; i < tab.length; i++) { %>
                        <button class="deleteInter" id="<%- i %>">
                            #<%- tab[i] %>
                        </button>
                    <% } %>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span id="interest">Your interest</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <form action="/myaccount/addInterest" method="post">
                        <textarea type="text" class="form-control" id="formpad" name="interest" required></textarea>
                        <input type="submit" value="add">
                    </form>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                        <span id="interest">Add interest</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <% if (!pic1) { %>
                        <img src="img/empty-image.png" class="img-thumbnail"/>
                    <% } else { %>
                        <img src="/uploads/<%- pic1 %>" class="img-thumbnail"/>
                    <% } %>
                    <form action="/myaccount/addpic1" enctype="multipart/form-data" method="post">
                        <input type="file" name="pic1">
                        <input type="submit" value="change">
                    </form>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <% if (!pic2) { %>
                        <img src="img/empty-image.png" class="img-thumbnail"/>
                    <% } else { %>
                        <img src="/uploads/<%- pic2 %>" class="img-thumbnail"/>
                    <% } %>
                    <form action="/myaccount/addpic2" enctype="multipart/form-data" method="post">
                        <input type="file" name="pic2">
                        <input type="submit" value="change">
                    </form>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <% if (!pic3) { %>
                        <img src="img/empty-image.png" class="img-thumbnail"/>
                    <% } else { %>
                        <img src="/uploads/<%- pic3 %>" class="img-thumbnail"/>
                    <% } %>
                    <form action="/myaccount/addpic3" enctype="multipart/form-data" method="post">
                        <input type="file" name="pic3">
                        <input type="submit" value="change">
                    </form>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <% if (!pic4) { %>
                        <img src="img/empty-image.png" class="img-thumbnail"/>
                    <% } else { %>
                        <img src="/uploads/<%- pic4 %>" class="img-thumbnail"/>
                    <% } %>
                    <form action="/myaccount/addpic4" enctype="multipart/form-data" method="post">
                        <input type="file" name="pic4">
                        <input type="submit" value="change">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    Your actual location: <%- location %>
                </div>
            </div>
            <div class="row">
                <form action="/myaccount/modifLocation" method="post">
                    <input name="location" id="pac-input" class="controls" type="text" placeholder="Insert new location" required>
                    <input type="submit" value="change">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/script/Smyaccount.js"></script>
<script>
    function initAutocomplete() {
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs78IwViXHXBxA3UjO0ZvfrFntqA1F4mU&libraries=places&callback=initAutocomplete" async defer></script>

<% include perm/Footer %>

<script src="/socket.io/socket.io.js"></script>
<script src="/script/notifications.js"></script>