<% include perm/SmallHeader %>

<div class="container">
    <% if (errors) { %>
        <% for(var i=0; i < errors.length; i++) { %>
            <div class="alert alert-danger">&nbsp;<%= errors[i]['msg'] %></div>
        <% } %>
    <% } %>
</div>

<div class="container">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <img src="/uploads/<%- profilepic %>" class="img-thumbnail"/>
            <%- login %>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- firstname %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="change" id="firstname">Change firstname</span>
                </div>
            </div>
            <div class="row ">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- lastname %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="change" id="lastname">Change lastname</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- email %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="change" id="email">Change email</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- gender %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="changeGO" id="gender">Change gender</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- orientation %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="changeGO" id="orientation">Change orientation</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span><%- bio %></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span class="change" id="bio">Change your bio</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <% let tab = interest;
                    for(var i=0; i < tab.length; i++) { %>
                        <button class="deleteInter" id="<%- i %>">
                            #<%- tab[i] %>
                        </button>
                    <% } %>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <span id="interest">Your interest</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <form action="/myaccount/addInterest" method="post">
                        <textarea type="text" class="form-control" id="formpad" name="interest" required></textarea>
                        <input type="submit" value="add">
                    </form>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                        <span id="interest">Add interest</span>
                </div>
            </div>
            <!-- img -->
            <!-- geo -->
        </div>
    </div>
</div>
<script src="/script/Smyaccount.js"></script>

<% include perm/Footer %>