<% include perm/SmallHeader %>

<div class="container">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <img src= "/uploads/<%= profilepic %>" class="img-thumbnail"/>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <div class="border row" id="prodiv_info">
                <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                    <h4 class="card-title"><%= login %></h4><br>
                    <%= firstname %> <%= lastname %><br>
                    Age: <%= age %><br>
                    I'm a <%= gender %><br>
                    Interest by: <%= orientation %><br>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <% if (isLike !== true) { %>
                        <a href="/profile/addLike/<%= user %>" method="post">
                            <img src="/img/empty heart.jpg" alt="emptyheart" class="img-fluid">
                        </a>
                    <% } else { %>
                        <a href="/profile/disLike/<%= user %>" method="post">
                            <img src="/img/heart.jpg" alt="heart" class="img-fluid">
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="border" id="prodiv-bio">
                Biographie:
                <p><%= bio %></p>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div id="prodiv-inter">
                <% let tab = interest;
                for(var i=0; i < tab.length; i++) { %>
                    <button class="deleteInter btn btn-primary" id="<%= i %>">
                        #<%= tab[i] %>
                    </button>
                <% } %>
            </div>
        </div>    
    </div>
    <div class="row">
        <% if (pic1) { %>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <img src="/uploads/<%= pic1 %>" class="img-thumbnail"/>
            </div>
        <% } %>
        <% if (pic2) { %>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <img src="/uploads/<%= pic2 %>" class="img-thumbnail"/>
            </div>
        <% } %>
        <% if (pic3) { %>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <img src="/uploads/<%= pic3 %>" class="img-thumbnail"/>
            </div>
        <% } %>
        <% if (pic4) { %>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <img src="/uploads/<%= pic4 %>" class="img-thumbnail"/>
            </div>
        <% } %>
    </div>
    <div class="row justify-content-center">
        <% if (score) { %>
            <h1><%= score %></h1>
        <% } else { %>
            <h1>0</h1>
        <% } %>
        <img id="img-score" src="/img/star-icon.png"/>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class= "prodiv-map" id="map"></div>
        </div>    
    </div>
    <div class="text-right">
        <a href="/profile/block/<%= user %>" method="post">
            Signaler la personne
        </a>
    </div>
</div>
        
<script>
    function initMap() {
        var uluru = {lat: <%= location.coordinates[1] %>, lng: <%= location.coordinates[0] %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs78IwViXHXBxA3UjO0ZvfrFntqA1F4mU&callback=initMap">
</script>

<% include perm/Footer %>

